.main{display: flex;flex-direction: column;height: 100%;}

.main .content{flex:1;overflow-y: auto;}

/* footer */
.main .bot{border-top: 1px #ccc solid; display: flex;justify-content: space-around;align-items: center;height:3rem;width:100%;}
.main .bot a{display: flex;flex-direction: column;align-items: center;color: rgba(170, 170, 170, 1);}
.main .bot .aa{color: rgba(0, 0, 0, 1);}
.main .bot a span{font-size: 1.25rem;}
.main .bot a em{font-size: 0.84rem;}



